<div class="modal" id="myModal" role="dialog">
  <div class="modal-dialog modal-lg" style="max-width: 90%">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" id="modal-title"></h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" id="modal-body"></div>

      <!-- Modal footer -->
      <div class="modal-footer" id="modal-footer">
        <button type="button" id="cancel" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>