{% extends "base.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}
{% block style %}
    <style>
        .navbar-brand {
            padding: 15px 15px;
        }
        .wrapper{
            min-height: 100%;
        }

        .dot {
            height: 25px;
            width: 25px;
            border-radius: 50%;
            display: inline-block;
        }
        .dot-primary{
            background: #0d6efd;
        }
        .dot-secondary{
            background: #6c757d;
        }
        .dot-success{
            background: #198754;
        }
        .dot-danger{
            background: #dc3545;
        }
        .dot-warning{
            background: #ffc107;
        }
        .dot-info{
            background: #0dcaf0;
        }
        .dot-light{
            background: #adb5bd;
        }
        .dot-dark{
            background: #212529;
        }
        .table-responsive{
            min-height:200px ;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">
            {% if request.GET.q %}Search Results
            {% elif status %}
                {{ status }} Packages
            {% else %}
                Packages
            {% endif %}
        </h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <form method="GET" action=".">
                    <a href="{% querystring '_export'='csv' %}">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                    </a>
                </form>
            </div>
        </div>
    </div>

    <div class="table">
        {% render_table table %}
    </div>
    <!-- END DATA TABLE -->

    {% include 'modal_large.html' %}
{% endblock %}