{% load static %}
{% if record.status.description != "Canceled" %}
    <div class="btn-group">
    <span type="button" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <span class='fa fa-cog link'></span>
    </span>
        <ul class="dropdown-menu">
            <li><span class="dropdown-item link" onclick="trackPackage('{{ record.pk }}')">Track</span></li>
            <li><span class="dropdown-item" onclick="cancelPackage('{{ record.pk }}')">Cancel</span></li>
        </ul>
    </div>
{% endif %}
{% block script %}
    <script type="text/javascript">
        function trackPackage(id) {
            $("#modal-title").html("Tracking Package");
            $("#modal-body").html("<img src='{% static "img/loading.gif"%}'/> Please wait while tracking the package.")
            $("#myModal").modal("show")
            $.ajax({
                "url": "{% url 'track_package' %}",
                "method": "POST",
                dataType: "json",
                data: {"id": id, "csrfmiddlewaretoken": "{{ csrf_token }}"},
                success: function (data) {
                    $("#modal-body").html(data.html);
                }, error: function (data) {
                    $("#modal-body").html(data.html);
                }
            })
            $("#myModal").modal('show')
        }

        function cancelPackage(id) {
            const url = "{% url 'cancel_package' id=12345 %}".replace(/12345/, id.toString());
            $.ajax({
                "url": url,
                "method": "POST",
                data: {"id": id, "csrfmiddlewaretoken": "{{ csrf_token }}"},
                success: function (data) {
                    console.log(data)
                    alert(data)
                }, error: function (data) {
                    console.log(data)
                    alert(data)
                }
            })
        }
    </script>

{% endblock %}